@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "compass/css3/border-radius";

.albatross-brand {
    background: url(/images/albatross.png) no-repeat;
    background-size: 100%;
    background-position: 0px 10px;
    margin-right: 5px;
}

.series-next-episode {
    width: 92px;
}

.show-select-column {
    width: 20px;
}

.series-name {
    width: 384px;
}

.series-banner-box {
    position: relative;
    float: left;
}

.series-banner-image {
    width: 100%;
    @include border-radius(4px, 4px);
}

.imdb-badge {
    width: 24px;
    right: 0;
    bottom: 0;
    position: absolute;
}