<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Albatross</title>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/demo.css" type="text/css">
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
  </head>
  <body>
    <img src="/images/albatross.png" width="120"><h1>Albatross</h1>
    <ul class="breadcrumbs">
      <li><a href="#" class="breadcrumb">Dashboard</a></li>
    </ul>
    <div id="app">
    </div>
    <script type="text/javascript" id="js-code"></script>
  </body>
</html>
