<div id="home">
	<div>
		<h3>Shows:</h3>
		<form action="choose" method="POST">
			<table class="table">
				<thead class="table-head">
					<tr>
						<th>Select</th>
						<th>Name</th>
						<th>Banner</th>
						<th>First Aired</th>
					</tr>
				</thead>
				<tbody class="table-body">
					<tr class="series-row">
						<td><input type="radio" class="focus" name="show" class="show-select" value=""></td>
						<td class="series-name"></td>
						<td><a href="#" target="_blank" class="imdb-link"><img src="" class="series-image" height="80"></a></td>
						<td class="series-first-aired"></td>
					</tr>
				</tbody>
			</table>
			<input type="submit" value="Next" class="button">
		</form>
	</div>
</div>
