<div id="choose">
  <h3>Shows:</h3>
  <form action="create" method="POST" id="create-form">
    <input type="hidden" name="show" id="show">
    <table class="table">
      <thead class="table-head">
        <tr>
          <th>Series</th>
          <th>First Aired</th>
          <th>Network</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr class="series-row">
          <td class="series-name">
            <div class="series-banner-box">
              <div class="series-banner-image-box" onclick="addShowClicked(this)">
                <a><img src="" class="series-banner-image" onerror="onBannerImageError(this)"></a>
                <a target="_blank" class="imdb-link">
                  <img src="/images/imdb.png" class="imdb-badge">
                </a>
              </div>
              <p class="series-alt-name" style="display: none;"></p>
            </div>
          </td>
          <td class="series-first-aired"></td>
          <td class="series-network"></td>
        </tr>
      </tbody>
    </table>
    <input type="submit" value="Next" class="button">
  </form>
</div>
