<div id="home">
  <div>
    <h3>Series:</h3>
    <a href="shows/new" class="button button-blue">Add Show</button>
    <table class="table">
      <thead class="table-head">
        <tr>
          <th>Next Ep</th>
          <th>Show</th>
          <th>Network</th>
          <th>Quality</th>
          <th>Downloads</th>
          <th>Active</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr class="series-row">
          <td>-</td>
          <td class="series-name">
            <a href="#">
              <img src="">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
