<div id="home">
  <div class="season">
    <div class="season-header">
      <h2>SEASON</h2>
    </div>
    <table class="table">
      <thead class="table-head">
        <th><input type="checkbox"></th>
        <th>Episode</th>
        <th>Name</th>
        <th>Air Date</th>
        <th>Filename</th>
        <th>Status</th>
        <th>Search</th>
      </thead>
      <tbody class="table-body">
        <tr class="episode-row">
          <td><input type="checkbox"></td>
          <td class="number">number</td>
          <td class="name">name</td>
          <td class="air-date">air date</td>
          <td class="filename">filename</td>
          <td class="status">status</td>

          <td><a href="" class="search-show-link"><span class="search"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
